Cython==0.29.36
scikit-learn==0.23.0
torch==1.13.0
numpy==1.23.1
matplotlib==3.6.1
torchvision==0.14.0
openai==0.24.0
transformers==4.22.1
pillow==9.3.0
streamlit==1.14.0
sentence_transformers==2.2.2
flask==2.2.2
hatesonar
