--extra-index-url https://download.pytorch.org/whl/cu116
torch
numpy==1.20.0
scikit-learn==0.23.1
matplotlib
torchvision
openai
transformers==4.22.1
pillow
streamlit
sentence_transformers
flask
hatesonar
